.sidebar {
  width: 250px;              /* ✅ chiều rộng cố định */
  height: 100vh;             /* cao toàn màn hình */
  background-color: black;
  color: orange;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;            /* ✅ giữ cố định khi cuộn trang */
  top: 0;
  left: 0;
  border-right: 1px solid grey;
}

.sidebar-header {
  margin-bottom: 30px;
  padding: 20px;
}

.sidebar-header .logo {
  text-decoration: none;
  color: orange;
  font-size: 30px;
  font-weight: 700;
}
.sidebar-menu {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar-menu li {
  text-align: center;
  margin: 25px;
  font-size: 21px;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-menu a:hover {
  color: orange;
}

.sidebar-footer {
  margin-top: auto; /* đẩy footer xuống cuối sidebar */
  padding-bottom: 20px;
}
