.main-layout {
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.main-layout .row {
  height: 100%;
  padding: 0;
}

.content-area {
  background-color: black;
  height: 100vh;
  overflow-y: auto; /* Cho phép cuộn nội dung trang */
  padding: 20px;
  margin-left: 250px; /* chừa đúng bằng độ rộng của sidebar */
  padding: 20px;
  min-height: 100vh;
  
}

.main-layout .row .col-2 {
  padding: 0;
}
